html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #c9d5ed;
    color: #874205;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 120px;
    margin: 0 auto;
}

input {
    color: #874205;
    background-color: #c7d3ec;
    border: 1px solid rgb(80, 86, 103);
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}

button {
    color: #93de8a;
    background-color: #9c1b48;
    border: 0;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

button:hover {
    background-color: #874205;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    font-size: 20px;
    background-color: #d0dcf6;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color: #f5d8a5;
    cursor: pointer;
}